{% if form.username.errors %}

	<div class="alert alert-warning alert-dismissible" role="alert">
          <center>{{form.username.errors|striptags}}</center>
	</div>
	
{% elif form.password1.errors  %}

	<div class="alert alert-warning alert-dismissible" role="alert">
         <center>{{form.password1.errors|striptags}}</center>
	</div>

{% elif form.password2.errors  %}

	<div class="alert alert-warning alert-dismissible" role="alert">
         <center>{{form.password2.errors|striptags}}</center>
	</div> 

{% endif %}